<footer>
    <div class="content">
        <div class="left box">
            <div>
                <div class="topic">Phone</div>
                <p>{{ site.data.data.contact.phone }}</p>
            </div>
        </div>
        <div class="middle box">
            <div class="topic">Email</div>
                <div><a href="#">{{ site.data.data.contact.email }}</a></div>
            </div>
        <div class="right box">
            <div class="topic">Contact me</div>
                <div class="media-icons">
                    <a href={{ site.data.data.contact.linkedin }}><i class="fab fa-linkedin-in"></i></a>
                    <a href={{ site.data.data.contact.github }}><i class="fab fa-github"></i></a>
                </div>
            </div>
    </div>
</footer>