<head>
  <title>{{ page.title }}</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css"> 
  {% if page.fontawesome == "cloud" %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"/>
  {% endif %}
  <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

  <!-- Script -->
  <script type="text/javascript" src="assets/plugins/jquery/jquery-3.6.0.min.js"></script>
  <div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
  </div>


</head> 